{% extends "base.html" %}

{% block title %}Add events - DC Tech Events{% endblock %}

{% block content %}
<h1>Contributing to DC Tech Events</h1>
<p>
This is a community-driven calendar managed as an open source project. You can add events and (even better!)
new iCal sources by <a href="https://github.com/rosskarchner/dctech.events">forking the project on GitHub and submitting a pull request</a>.
</p>

<p> We're working on an easier way to contribute! In the meantime, if you have events to submit and don't want to use GitHub, feel free to email ross@karchner.com.</p>
{% endblock %}