<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{"selfRequestsOnly":false}'>
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    

    <link rel="stylesheet" href="/static/css/main.css">

    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo"><a href="/">{{ site_name }}</a></h1>
            <div>{{ tagline }}</div>
            <nav style="margin-top: 10px; font-size: 0.9em;">
                <a href="/">All Events</a> | 
                <a href="/locations/">Locations</a> | 
                <a href="/locations/dc/">Washington DC</a> | 
                <a href="/locations/va/">Virginia</a> | 
                <a href="/locations/md/">Maryland</a> | 
                <a href="/groups/">Groups</a>
            </nav>
        </div>
    </header>

    <div class="container">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
        <div class="container">
            <p>Made by <a href="https://ross.karchner.com">Ross Karchner</a>.
                 <a href="https://github.com/rosskarchner/dctech.events">Improvements</a> and <a href="mailto:ross@karchner.com">feedback</a> are welcome!</p>
        </div>
    </footer>
    
    {% block scripts %}{% endblock %}
</body>
</html>