{% extends "base.html" %}

{% block title %}DC Tech Events{% endblock %}

{% block content %}
<div class="home-container">
    {# Add invisible anchors for next week and next month at the top of events section #}
    <a id="{{ next_week_date }}" class="anchor"></a>
    <a id="{{ next_month_date }}" class="anchor"></a>
    
    <section class="events-section">
        <h2>Upcoming Events</h2>
        {% include "partials/events_by_day.html" %}
    </section>


    <section class="upcoming-months-section" id="upcoming-months">
        <h2>Upcoming Months</h2>
        {% if future_months %}
            {% for year, months in future_months.items() %}
                <div class="year-container">
                    <h3>{{ year }}</h3>
                    <ul class="months-list">
                        {% for month in months %}
                            <li>
                                {% if month.count > 0 %}
                                    <a href="/{{ month.year }}/{{ month.number }}/">{{ month.name }} ({{ month.count }})</a>
                                {% else %}
                                    {{ month.name }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <p>No future events scheduled yet.</p>
        {% endif %}
    </section>

            <div class="container">
        <h2>More</h2>
            <nav>
                <ul>
                    <li><a href="/groups">Groups list</a></li>
                    <li><a href="/add-events/">Add Events</a></li>
                </ul>
            </nav>
        </div>
</div>


{% endblock %}

{% block extra_head %}

{% endblock %}