{% extends "base.html" %}

{% block title %}{{ site_name }}{% endblock %}


{% block content %}
<div class="home-container">

    <section class="events-section">
        <h2>{{ stats.upcoming_events }} Upcoming Events (<a href="{{ add_events_link }}">add more</a>)</h2>
        <div id="subscribe">
            <div>
            Get this calendar in your inbox every week! <a href="{{ newsletter_signup_link }}" hx-get="{{ newsletter_signup_link }}" hx-target="#subscribe" hx-swap="innerHTML">Subscribe today</a>.
            </div>
        </div>


    <!-- Future months section removed as all events are now in one list -->

</div>


{% endblock %}

{% block extra_head %}
    <!-- OpenGraph tags -->
    <meta property="og:title" content="{{ site_name }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ base_url }}">
    <meta property="og:description" content="{{ tagline }}">
    <meta property="og:site_name" content="{{ site_name }}">
    

<script src="https://unpkg.com/htmx.org@2.0.4"></script>

{% endblock %}