{% extends "base.html" %}

{% block title %}Locations - {{ site_name }}{% endblock %}

{% block content %}
<div class="home-container">
    <section class="events-section">
        <h2>Events by Region</h2>
        
        <ul>
            {% for region, count in location_stats.items() %}
                <li>
                    <a href="/locations/{% if region == 'Washington DC' %}dc{% elif region == 'Virginia' %}va{% elif region == 'Maryland' %}md{% endif %}/">
                        {{ region }}
                    </a> ({{ count }} events)
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}