<h1>Tech Groups in DC</h1>
Hello flask
<div class="groups-container">
    {{#groups}}
    <div class="group-card">
        <h3>{{name}}</h3>
        <div class="group-details">
            <p><strong>Website:</strong> <a href="{{website}}" target="_blank">{{website}}</a></p>
        </div>
    </div>
    {{/groups}}
    
    {{^groups}}
    <div class="no-groups">
        <p>No approved tech groups found.</p>
    </div>
    {{/groups}}
</div>

<div class="suggest-group">
    <p>Don't see your tech group? <a href="/groups/suggest/">Suggest a group</a> to be added to our list.</p>
</div>
