<div id="group-success-container">
    <div class="alert alert-success">
        <h4>Thank you for your submission!</h4>
        <p>Your group suggestion has been received and will be reviewed by our moderators.</p>
    </div>
    
    <div class="card mb-4">
        <div class="card-header">
            <h5>Group Details</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Group Name:</dt>
                <dd class="col-sm-9">{{ group.name }}</dd>
                
                <dt class="col-sm-3">Website:</dt>
                <dd class="col-sm-9"><a href="{{ group.website }}" target="_blank">{{ group.website }}</a></dd>
                
                {% if group.ical %}
                <dt class="col-sm-3">iCal URL:</dt>
                <dd class="col-sm-9">{{ group.ical }}</dd>
                {% endif %}
                
                {% if group.fallback_url %}
                <dt class="col-sm-3">Fallback URL:</dt>
                <dd class="col-sm-9"><a href="{{ group.fallback_url }}" target="_blank">{{ group.fallback_url }}</a></dd>
                {% endif %}
            </dl>
        </div>
    </div>
    
    <div class="mt-4">
        <button class="btn btn-primary" 
                hx-get="{{ api_base_url }}/api/groups/suggest-form" 
                hx-target="#group-success-container" 
                hx-swap="outerHTML">
            Suggest Another Group
        </button>
    </div>
</div>